<mat-nav-list>
  <div class='profile'>
    <ng-container *ngIf='user'>
      <img src='assets/dp-ph.gif' alt="profile pic">
      <div class='mat-typography name'>{{ user.email }}</div>
    </ng-container>
  </div>
</mat-nav-list>

<mat-divider></mat-divider>

<mat-nav-list dense class='nav'>
  <a mat-list-item [routerLink]="['home']" routerLinkActive='active'>
    <mat-icon>home</mat-icon>
    <span>Home</span>
  </a>
  <a mat-list-item [routerLink]="['posts']" routerLinkActive='active'>
    <mat-icon>sticky_note_2</mat-icon>
    <span>Posts</span>
  </a>
  <a mat-list-item [routerLink]="['logs']" routerLinkActive='active'>
    <mat-icon>bug_report</mat-icon>
    <span>Logs</span>
  </a>

</mat-nav-list>