.login-card {
  width: 400px;
  margin: auto;
  top: 50vh;
  margin-top: -200px;

  form {
    width: 90%;
    margin: auto;

    mat-form-field {
      width: 100%;
    }

    .error-message {
      color: #f44336;
      text-align: center;
    }
  }

}
